PORT=numeroPorta
DATABASE_HOST=host
DATABASE_PORT=port
DATABASE_USER=bancopreferencialmentepostgres
DATABASE_PASSWORD=senha
DATABASE_NAME=nome_do_bancp
JWT_SECRET=definirSecret
JWT_EXPIRES_IN=numerohoras